jobs:
  include:
    - language: php
      dist: bionic
      php: 7.2

    - language: php
      dist: bionic
      php: 7.3

    - language: php
      dist: bionic
      php: 7.4

    - language: php
      dist: focal
      php: 8.0

    - language: php
      dist: focal
      php: 8.1

before_script:
  - composer self-update
  - composer install
script:
  - ./vendor/bin/phpunit

